############################
# JetBrains Rider
############################
.idea/
*.sln.iml
*.csproj.user
*.DotSettings.user
*.DotSettings

############################
# .NET / Avalonia
############################
bin/
obj/
TestResults/
*.pdb
*.mdb
*.axaml.g.cs
*.cache

############################
# Linux / OS
############################
*.log
*.tmp
.DS_Store
Thumbs.db

